<!doctype html>
<html lang="en" data-framework="react">
	<head>
		<meta charset="utf-8">
		<title>React • Server Side Rendering • Code Splitting</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<%- preloadData %>
		<%- JSON.stringify(preloadData) %>
		<script id="props" data-props='<%- JSON.stringify(preloadData) %>'></script>
		<!-- <script id="props" data-props='<%- JSON.stringify(preloadData) %>'></script> -->
		<section id="root"><%- content %></section>
		<script src="build/index.bundle.js"></script>
	</body>
</html>
